.apply1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 200px 0 0 0;
    text-align: justify;
}

.apply2{
    padding: 10px;
    margin-bottom:10px ;
    justify-content: center;
    align-items: center;
    display: flex;
}
.ll{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    
}
input{
    padding: 5px;
    width: 100%;
}
.form-control{
margin-bottom: 10px;
}
.submit-button1{
    text-align: center;
    background-color: aqua;
    border-radius:10px ;
    padding: 10px;
    width: 100%;
    margin-left: 5px;
}
.form-group1{
    padding: 15px;
  background-color: rgba(211, 211, 211, 0.756);
}
.apply3{
    background-color: rgba(0, 255, 255, 0.407);
    padding: 10px;
}
.logo3{
    width: 130px;
    align-items: center;
    justify-content: center;
}